{% load static %}
<html>

<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <meta name="description" content="Login - Register Template">
    <meta name="author" content="Lorenzo Angelino aka MrLolok">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'forgotpassword.css' %}">
    <style>
        body {
            background-color: #303641;
        }
    </style>
</head>

<body>
    <div id="container-login">
        <div id="title">
            <i class="material-icons lock">lock</i> Forgot Password
        </div>

        <form>
            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">face</i>
                </div>
                <input id="e-mail" placeholder="E-mail" type="text" required class="validate" autocomplete="off">
            </div>

            <div class="clearfix"></div>


            <div class="remember-me">
                
            </div>

            <input type="submit" value="Reset My Password" />
        </form>

       

        <div class="register">
            Don't have an account yet?
            <a href='http://127.0.0.1:8000/playground/login/register/'><button id="register-link">Register here</button></a>
        </div>
    </div>
</body>

</html>
