<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
    <style>
		body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #303641 !important;
		}

        h3 {
            color:aliceblue;
        }

        p {
            color:aliceblue;
        }

        form {
            color:aliceblue;
        }
    </style>
</head>
<body>
    <h3>Password reset</h3>

    <p>
        forgotten your password? Enter your email address below,
        and we'll email instructions for setting a new one. 
    </p>

    <form method="POST">

        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" name="Send email">

    </form>
</body>
</html>