<!DOCTYPE html>
<html>
{% load static %} 
<head>
    <title>Reset Password Complete</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/Home.css' %}">
    <style>
		 @import url('https://fonts.googleapis.com/css?family=Raleway');
        body {
    margin: 0;
    text-align: center;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: #E4DEDD;
    margin-bottom: 2rem;
}
html{
    background: #303641 !important;
    padding: 10% 15%;
	height: 25%;

}

p {
            color:#E4DEDD;
        }

form {
            color:#E4DEDD;
        }
h3{
    color:#E4DEDD;
} 
a{
    color:#E4DEDD;
}       

    </style>
</head>
<body>
    <h3>Password reset complete</h3>

    <p>Your password has been set. You may go ahead and log in now</p>

    <a href={% url 'loginPage' %}>login</a>
</body>
</html>