<!DOCTYPE html>
<html>
{% load static %}      
<head>
    <title>Reset Password Done</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/Home.css' %}">
   <style>
     	@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    margin: 0;
    text-align: center;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: #E4DEDD;
    margin-bottom: 2rem;
}
html{
    background: #303641 !important;
    padding: 10% 15%;
	height: 25%;

}

p {
            color:#E4DEDD;
        }

form {
            color:#E4DEDD;
        }
h3{
    color:#E4DEDD;
}        



    </style>
</head>
<body>
<h3>Password reset sent</h3>

    <p>
        We've emailed you instructions for setting your password, 
        if an account exists with the email you entered.
        You should receive them shortly.
    </p>
    

    <p>
        If you don't receive an email, plaese make sure 
        you've entered the address you register with,
        and check your spam folder.
    </p>
</body>
</html>